.contenedor-profile{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

h1{
   text-align: center;
   background-color: yellow;
   color: black;
   padding: 1rem;
   border-radius: 15px;
}